<!DOCTYPE html>
<html ng-app="app" ngcloak>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block stylesheets %}{% endblock %}

        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block body %}
                <div class="content">
                    <div class="row-fluid">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>